<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <style>
        body {font-family: Verdana, sans-serif;}
    </style>
</head>
<body>
    <form action = "/login" method = post>
        <p>
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password">
        </p>
        <p>
            <input type="submit" value="Soumettre" style="font-family: Verdana, sans-serif;">

        </p>
    </form>
</body>
</html>